<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="qr-center" align="center" *ngIf="shareQR==true">
    <qr-code *ngIf="qrData!='';" [value]="qrData" [size]="250"></qr-code>
    <ion-text *ngIf="qrData=='';" class="qr-center" align="center">
      <p>Please go to settings,</p>
      <p>set up a name and the Social platforms that you want</p>
    </ion-text>
  </div>
  <div *ngIf="shareQR==false;">
    <ion-button class="share-center" align="center" vertical="bottom" horizontal="center" (click)="share()" color="secondary">
      Share Code</ion-button>
    <ion-button class="scan-center" align="center" vertical="bottom" horizontal="center" (click)="scan()"
      color="secondary">
      Scan Code</ion-button>
  </div>
  <div *ngIf="shareQR==true;">
    <ion-button class="share-center" align="center" vertical="bottom" horizontal="center" (click)="shareQR=false;" color="secondary">
      Back</ion-button>
  </div>

</ion-content>