.qr-center {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:45%;
    transform:translateY(-50%);
}

.scan-center {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:80%;
    transform:translateY(-50%);
    width:50%;
}