<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button slot="start" fill="clear" color="light">
      <ion-back-button defaultHref="tabs/contacts"></ion-back-button>
    </ion-button>
    <ion-button slot="end" fill="clear" color="light" (click)="deleteContact()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-title>{{contact.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let social of contact.social">
      <ion-col size="4">
        <ion-label>{{social.platform}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-router-link href="{{social.value}}">{{social.value}}</ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>